{% extends 'base.html.twig' %}

{% block title %}Home - Embaralhado{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('style/home.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="mainMenu">
            <img class="imageContainer" src="{{ asset('images/homeImage.webp') }}" alt="Descrição da imagem" />
            <h1 class="title">Embaralhado</h1>
        </div>

        <a href="{{ path('app_game') }}">
            <button class="btn">
                <i class="bi bi-play-fill"></i>
            </button>
        </a>
        <a href="{{ path('app_contextChoice') }}">
            <button class="btn">
                <i class="bi bi-gear-fill"></i>
            </button>
        </a>

        <a href="{{ path('app_pointList') }}">
            <button class="btn">
                <i class="bi bi-person-lines-fill"></i>
            </button>
        </a>





        <footer class="footer">
            <p>Copyright © 2024 <span class="companyName">Apps4Society</span>. All rights reserved.</p>
        </footer>
    </div>
{% endblock %}
