{% extends 'base.html.twig' %}

{% block title %}palavra index{% endblock %}

{% block body %}
    <h1>palavra index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Palavra</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for perguntum in palavras %}
            <tr>
                <td>{{ perguntum.id }}</td>
                <td>{{ perguntum.palavra }}</td>
                <td>
                    <a href="{{ path('app_palavra_show', {'id': perguntum.id}) }}">show</a>
                    <a href="{{ path('app_palavra_edit', {'id': perguntum.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_palavra_new') }}">Create new</a>
{% endblock %}
