{% extends 'base.html.twig' %}

{% block title %}Lista de Contextos{% endblock %}

{% block body %}
    <main>
        <div class="album py-5 bg-body-tertiary">
            <div class="container">
                <div class="d-flex justify-content-end mb-3">
                    <a href="{{ path('app_contexto_new') }}" class="btn btn-primary">Adicionar Novo Contexto</a>
                </div>

                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    {% for contexto in contextos %}
                        <div class="col">
                            <div class="card shadow-sm">
                                <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Contexto" preserveAspectRatio="xMidYMid slice" focusable="false"><title>{{ contexto.nome }}</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">{{ contexto.nome|upper }}</text></svg>

                                <div class="card-body">
                                    <p class="card-text">Contexto: {{ contexto.nome }}</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <a href="{{ path('app_contexto_show', { id: contexto.id }) }}" class="btn btn-sm btn-outline-secondary">Ver Contexto</a>
                                            <a href="{{ path('app_palavra_new', { contexto: contexto.id }) }}" class="btn btn-sm btn-outline-secondary">Adicionar palavra</a>
                                        </div>
                                        <form method="post" action="{{ path('app_contexto_delete', { id: contexto.id }) }}" onsubmit="return confirm('Tem certeza que deseja deletar este contexto? Todas as palavras associadas serão apagadas!');">
                                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ contexto.id) }}">
                                            <button class="btn btn-sm btn-outline-danger">Excluir</button>
                                        </form>
                                    </div>
                                    <small class="text-body-secondary">{{ contexto.palavras|length }} palavras</small>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <p>Sem contextos disponíveis no momento.</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}
